/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-abr-2024, 15:38:07
    Author     : informatica
*/

.button{
    -fx-background-color: #2FD892;
}

.button{
     -fx-background-radius: 10 10 10 10;
}



